@media (max-width: 768px) {
  .burger {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    background: white;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  #menu-toggle:checked ~ nav ul {
    display: flex;
  }

  .bg-image {
    height: 400px;
  }

  .bg-image h1 {
    font-size: 40px;
  }

  .bg-image h4 {
    font-size: 16px;
  }

  ul {
    gap: 25px;
  }
}

@media (max-width: 1322px) {
  .right_side {
    justify-content: space-evenly;
  }
}

@media (max-width: 974px) {
  .left_side,
  .left_side .card {
    display: none;
  }

  .right_side .card:first-child {
    display: inline-block;
  }

  .right_side {
    justify-content: space-evenly;
  }
}

@media (max-width: 650px) {
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .left_side {
    margin-right: 0;
    margin-bottom: 33px;
  }

  .right_side .card {
    width: 350px;
    margin: 0 15px;
  }
}

@media (max-width: 480px) {
  .bg-image {
    height: 300px;
  }

  .bg-image h1 {
    font-size: 32px;
  }

  .bg-image h4 {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .left_side {
    min-width: 200px;
    max-width: 200px;
  }

  .right_side .card {
    width: 200px;
  }
}



* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
