body {
  padding-top: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 24px 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #636060;
  font-size: 17px;
  text-decoration: none;
  font-weight: 400;
}

.burger {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.bg-image {
  background-image: url("../images/Rectangle\ 1.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.bg-image h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.bg-image h4 {
  font-size: 22px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left_side {
  min-width: 220px;
  max-width: 220px;
  margin-right: 50px;
}

.right_side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 33px;
}

.right_side .card {
  width: 250px;
  margin: 0 15px;
}

.right_side .card img {
  width: 100%;
}

.right_side .card:first-child {
  display: none;
}

section {
  margin-bottom: 80px;
}



* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
