header {
  padding: 24px 0;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  gap: 52px;
}

a {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.burger {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.bg-image {
  background-image: url("images/images/geolab.logo-svg.svg");
  background-size: cover;
  background-position: center;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-image h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.bg-image h4 {
  font-size: 22px;
}

body {
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left_side {
  min-width: 220px;
  max-width: 220px;
  margin-right: 50px;
}

.right_side .card {
  width: 250px;
  margin: 0 15px;
}

.right_side .card img {
  width: 100%;
}

.right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 33px;
}

.right_side .card:first-child {
  display: none;
}
